<!--
    Mourad<mohammadabdoulahi@gmail.com>
-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Modification d'une vente</title>
<h3 class="header center">Modification d'une vente&nbsp&nbsp <i class="fa fa-pencil-square-o"></i></h3>
<div class="container" ng-init="onload()">
    <div class="row">
      <input-field col-s6>
          <label for="employe" ng-hide="hide">{{selectedItem.content[0][1]}} {{selectedItem.content[0][2]}}</label>
          <select id="employe" ng-options="employe[2] for employe in employes.choices[0].content" class="" ng-change="update(employe[0])" ng-model="venteToUpdate.employe" material-select watch>

              <!--option ng-repeat="employe in employes.choices[0].content">{{employe[2]}} {{employe[3]}}</option-->
          </select>
      </input-field>
    </div>
    <div class="row pad">
      <input-field col-s6>
          <label for="Produit" ng-hide="hideProduit">{{selectedItem.content[0][3]}}</label>
          <select id="Produit" ng-options="produit[2] for produit in produits.choices[0].content track by produit[0]" class="" ng-change="updateProduit(produit[0])" ng-model="venteToUpdate.produit.idProduit" material-select watch>
              <!--option>Produit</option>
              <option ng-repeat="produit in produits.choices[0].content">{{produit[2]}}&nbsp&nbsp-&nbsp&nbsp[{{produit[3]}}]</option-->
          </select>
      </input-field>
    </div>
    <div class="row pad">
      <input-field col-s6>
          <label for="etat" ng-hide="hideEtat">{{selectedItem.content[0][6]}}</label>
          <select id="etat" class="" ng-change="updateEtat(etat)" ng-model="venteToUpdate.etat" material-select watch>
              <!--option ng-model="selectedItem.content[0][6]">Effectuee</option>
              <option ng-model="selectedItem.content[0][6]">En_attente</option-->

              <option ng-repeat="etat in etats">{{etat}}</option>
              <!--option ng-repeat="employe in employes.choices[0].content">{{employe[2]}} {{employe[3]}}</option-->
          </select>
      </input-field>
    </div>
  <!-- Modal Trigger -->
  <div class="col pad">
      <a class='btn blue darken-2 waves-effect waves-light' data-target='confirmationModal' modal>Modifier <i class="fa fa-pencil right"></i></a>
      <button class="btn blue darken-2 waves-effect waves-light" ng-click="reset()">Effacer <i class="fa fa-eraser right"></i></button>
  </div>
  <div id="confirmationModal" class="modal">
      <div class="modal-content center">
          <div class="title">
            <h5>Est-ce bien les informations que vous voulez mettre à jour?</h5>
          </div>
          <div class="row">
                  <p class="left-align" ng-if="!hide">Employé:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{selectedItem.content[0][1]}}&nbsp&nbsp{{selectedItem.content[0][2]}}</p>
                  <p class="left-align" ng-if="hide">Employé:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{venteToUpdate.employe[2]}}&nbsp&nbsp{{venteToUpdate.employe[3]}}</p>
                  <p class="left-align" ng-if="!hideProduit">Produit:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{selectedItem.content[0][3]}}&nbsp&nbsp-&nbsp&nbsp[{{selectedItem.content[0][4]}}]</p>
                  <p class="left-align" ng-if="hideProduit">Produit:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{venteToUpdate.produit[2]}}&nbsp&nbsp-&nbsp&nbsp[{{venteToUpdate.produit[3]}}]</p>
                  <p class="left-align" ng-if="!hideEtat">Etat:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{selectedItem.content[0][6]}}</p>
                  <p class="left-align" ng-if="hideEtat">Etat:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{venteToUpdate.etat}}</p>
          </div>
      </div>
      <div class="modal-footer">
          <a href="#/stocks/listes/ventes" class=" modal-action modal-close waves-effect waves-green btn-flat center" ng-click="save(vente)">Oui</a>
          <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="edit(vente)">Non</a>
      </div>
  </div>
</div>