<!--
    Mourad<mohammadabdoulahi@gmail.com>
-->
<meta charset="UTF-8">

<title>Liste des commandes</title>
<h3 class="header center">Liste des commandes&nbsp&nbsp <i class="fa fa-list-alt"></i></h3>
<div style="height: 1px; padding-right: 3%; padding-top: 2%;" class="right">
          <ul class="section table-of-contents">
            <li><a href="#stocks/add/commande">Nouvelle commande</a></li>
            <li><a href="">Valider commandes</a></li>
          </ul>
</div>
<div class="container row" ng-init="load()">
  <table class="responsive-table">
    <thead>
      <tr>
        <td>Référence</td>
        <td>Catégorie</td>
        <td>Employé</td>
        <td>Restant</td>
        <td>Commandé</td>
        <td>Date</td>
        <td>Observations</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="commande in commandes.content">
        <td>{{commande[1]}}</td>
        <td>{{commande[2]}}</td>
        <td>{{commande[3]}}&nbsp&nbsp&nbsp{{commande[4]}}</td>
        <td>{{commande[5]}}</td>
        <td>{{commande[6]}}</td>
        <td>{{commande[7] | date : "d MMM y, HH:mm:ss"}}</td>
        <td>{{commande[8]}}</td>
        <td><a href ="" ng-click="details(commande[0])" class=""data-target="informationsModal" modal>Détails</a></td>
        <td><a ng-href="#stocks/edit/commande/{{commande[0]}}" class="">Modifier</a></td>
        <td><a href ="" ng-click="details(commande[0])" class=""data-target="deleteModal" modal>Supprimer</a></td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <ul class="pagination">
        <li ng-class="{disabled:page<=0}"><a ng-click="gotoPage(page-1)" ng-if="total!=0"><i class="fa fa-angle-left"></i></a></li>
        <li ng-class="{active:$index==page}" ng-repeat="p in totalPages track by $index"><a href="" ng-click="gotoPage($index)">{{$index + 1}}</a></li>
        <li ng-class="{disabled:page+1==total}"><a ng-click="gotoPage($index+1)" ng-if="$index+1<total"><i class="fa fa-angle-right"></i></a></li>
    </ul>
  </div>
</div>

<div id="informationsModal" class="modal">
    <div class="modal-content center">
        <div class="title">
          <h5>Détails de la commande</h5>
        </div>
        <div class="row">
                <p class="left-align">Référence:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{selectedItem.content[0][1]}}</p>
                <p class="left-align">Catégorie:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{selectedItem.content[0][2]}}</p>
                <p class="left-align">Employé:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{selectedItem.content[0][3]}}&nbsp&nbsp{{selectedItem.content[0][4]}}</p>
                <p class="left-align">Restant:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{selectedItem.content[0][5]}}</p>
                <p class="left-align">Commandé:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{selectedItem.content[0][6]}}</p>
                <p class="left-align">Date de commande:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{selectedItem.content[0][7] | date : "yyyy-MM-dd HH:mm:ss"}}</p>
                <p class="left-align">Observations:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{selectedItem.content[0][8]}}</p>
        </div>

    </div>
    <div class="modal-footer">
        <a href="" align="center" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
</div>
<div id="deleteModal" class="modal">
    <div class="modal-content center">
        <div class="title">
          <h5>Êtes-vous certain de vouloir supprimer cette commande?</h5>
        </div>
        <div class="row">
                <p class="left-align">Référence:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{selectedItem.content[0][1]}}</p>
                <p class="left-align">Catégorie:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{selectedItem.content[0][2]}}</p>
                <p class="left-align">Employé:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{selectedItem.content[0][3]}}&nbsp&nbsp{{selectedItem.content[0][4]}}</p>
                <p class="left-align">Restant:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{selectedItem.content[0][5]}}</p>
                <p class="left-align">Commandé:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{selectedItem.content[0][6]}}</p>
                <p class="left-align">Date de commande:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{selectedItem.content[0][7] | date : "yyyy-MM-dd HH:mm:ss"}}</p>
                <p class="left-align">Observations:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{selectedItem.content[0][8]}}</p>
        </div>
    </div>
    <div class="modal-footer">
      <a href="#/stocks/listes/commandes" class="modal-action modal-close waves-effect waves-green btn-flat center" ng-click="delete(selectedItem.content[0][0])">Oui</a>
      <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">Non</a>
    </div>
</div>
