<!--
    Mourad<mohammadabdoulahi@gmail.com>
-->
<meta charset="UTF-8">

<title>Liste des bilans</title>
<h3 class="header center">Liste des bilans&nbsp&nbsp <i class="fa fa-list-alt"></i></h3>
<div style="padding: 10px;" class="row" ng-init="load()">
  <table class="responsive-table">
    <thead>
      <tr>
        <td>Catégorie</td>
        <td>Période</td>
        <td>Initial</td>
        <td>Approv.</td>
        <td>Stock total</td>
        <td>Qté. vente ordinaire</td>
        <td>PU vente ordinaire</td>
        <td>Montant vente ordinaire</td>
        <td>Qté. vente promotionnel</td>
        <td>PU vente promotionnel</td>
        <td>Montant vente promotionnel</td>
        <td>Qté total ventes</td>
        <td>Montant total ventes</td>
        <td>Déstockage</td>
        <td>Reste</td>
        <td>Qté. défectueuse</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="bilan in bilans.content">
        <td>{{bilan[5]}}</td>
        <td>{{bilan[1]}}, &nbsp&nbsp{{bilan[2]}}</td>
        <td>{{bilan[3]}}</td>
        <td>{{bilan[7]}}</td>
        <td>{{bilan[4]}}</td>
        <td>{{bilan[8]}}</td>
        <td>{{bilan[9]}} FCFA</td>
        <td>{{bilan[9]*bilan[8]}} FCFA</td>
        <td>{{bilan[10]}}</td>
        <td>{{bilan[11]}} FCFA</td>
        <td>{{bilan[10]*bilan[11]}} FCFA</td>
        <td>{{bilan[8]+bilan[10]}}</td>
        <td>{{(bilan[9]*bilan[8])+(bilan[10]*bilan[11])}}</td>
        <td>{{bilan[12]}}</td>
        <td>{{bilan[4]-(bilan[3]+bilan[7])}}</td>
        <td>{{bilan[13]}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <ul class="pagination">
        <li ng-class="{disabled:page<=0}"><a ng-click="gotoPage(page-1)" ng-if="total>0"><i class="fa fa-angle-left"></i></a></li>
        <li ng-class="{active:$index==page}" ng-repeat="p in totalPages track by $index"><a href="" ng-click="gotoPage($index)">{{$index + 1}}</a></li>
        <li ng-class="{disabled:page+1==total}"><a ng-click="gotoPage($index+1)" ng-if="$index+1<total"><i class="fa fa-angle-right"></i></a></li>
    </ul>
  </div>
</div>