<!--
    Mourad<mohammadabdoulahi@gmail.com>
-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Nouvelle vente</title>
<h3 class="header center">Nouvelle vente&nbsp&nbsp <i class="fa fa-plus-circle"></i></h3>
<div class="container" ng-init="onload()">
    <div class="row pad">
      <input-field col-s6>
          <label for="Produit" ng-hide="vente.produit!='Produit'">Produit</label>
          <select id="Produit" ng-options="produit[2] for produit in produits.choices[1].content" class="" ng-change="updateProduit(produit[0])" ng-model="vente.produit" material-select watch>
              <!--option>Produit</option>
              <option ng-repeat="produit in produits.choices[0].content">{{produit[2]}}&nbsp&nbsp-&nbsp&nbsp[{{produit[3]}}]</option-->
          </select>
      </input-field>
    </div>
    <div class="row pad">
      <input-field col-s6>
          <label for="Client" ng-hide="vente.client!='Client'">Client</label>
          <select id="Client" ng-options="client[2] for client in clients.choices[1].content" class="" ng-change="update(client[0])" ng-model="vente.client" ng-init="vente.client='Client'" material-select watch>

              <!--option ng-repeat="client in clients.choices[0].content">{{client[2]}} {{client[3]}}</option-->
          </select>
      </input-field>
    </div>
    <!--div class="row input-field" ng-controller="AutocompleteController">
      <input type="text" name="produit" id="produit" ng-model="product" ng-keyup="complete(product)" class="valid" ng-change="reset()" required />
      <label>Produit</label>
      <ul ng-model="hideThis" ng-hide="hideThis" class="autocomplete-content dropdown-content">
        <li ng-repeat="productdata in filterProduct track by $index" value="{{$index}}" ng-click="fillTextbox(productdata)" class="highlight collection-item"><span class="left-align">{{productdata}}</span></li>
      </ul>
    </div-->
  </input-field>
  <!-- Modal Trigger -->
  <div class="col pad">
      <a class='btn blue darken-2 waves-effect waves-light' data-target='confirmationModal' modal>Ajouter <i class="fa fa-plus right"></i></a>
      <button class="btn blue darken-2 waves-effect waves-light" ng-click="reset()">Effacer <i class="fa fa-eraser right"></i></button>
  </div>
  <div id="confirmationModal" class="modal">
      <div class="modal-content center">
          <div class="title">
            <h5>Est-ce bien les informations que vous voulez ajouter?</h5>
          </div>
          <div class="row">
                  <p class="left-align">Produit:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{vente.produit[2]}}&nbsp&nbsp-&nbsp&nbsp[{{vente.produit[3]}}]</p>
                  <p class="left-align">Client:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{vente.client[2]}}&nbsp&nbsp&nbsp&nbsp{{vente.client[3]}}</p>
                  <p class="left-align">Prix:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{vente.produit[4]}}&nbsp&nbsp FCFA</p>
          </div>
      </div>
      <div class="modal-footer">
          <a href="#/stocks/listes/ventes" class=" modal-action modal-close waves-effect waves-green btn-flat center" ng-click="save(employe)">Oui</a>
          <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="edit(employe)">Non</a>
      </div>
  </div>
</div>